<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="static/css/style.css">
        <title>Egaroucid</title>
    </head>
    <body>
        <div class="title">Egaroucid 3 - Othello AI</div>
        <p align="center">
            <input type="radio" class="radio_size" name="ai_player" value="1" id="white" checked><label for="white" class="setting">Black (initial): You White: AI</label>
            <input type="radio" class="radio_size" name="ai_player" value="0" id="black"><label for="black" class="setting">Black (initial): AI White: You</label>
        </p>
        <div align="center">
            <input type="submit" class="setting" value="Start Game" onclick="start()" id="start">
        </div>
        <div id="main">
            <table class="coords" id="coord_top" align="center"></table>
            <table align="center">
                <tr>
                    <td><table class="coords" id="coord_left" align="center"></table></td>
                    <td><table class="board" id="board" align="center"></table></td>
                    <td><table class="coords" id="coord_right" align="center"></table></td>
                </tr>
            </table>
            <table class="status" id="status" align="center">
                <tr>
                    <td class="status_cell"><span class="state_blank"></span></td>
                    <td class="status_cell"><span class="black_stone"></span></td>
                    <td class="status_char"><span class="state_blank">2</span></td>
                    <td class="status_char"><span class="state_blank">-</span></td>
                    <td class="status_char"><span class="state_blank">2</span></td>
                    <td class="status_cell"><span class="white_stone"></span></td>
                    <td class="status_cell"><span class="state_blank"></span></td>
                </tr>
            </table>
        </div>
        <div id="info" align="center">
            <div class="sub_title">Information of this game</div>
            <div class="sub_sub_title">Probability of AI's win</div>
            <canvas id="graph"></canvas>
            <div class="sub_sub_title">Game Record</div>
            <div class="record" id="record"></div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
        <script src="static/js/script.js"></script>
    </body>
</html>